Repository Gyomzz/NimesAleries: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Front - install deps, Front - deploy

.gitlab-ci.yml:

---
stages:
  - build
  - deploy

Front - install deps:
  stage: build
  image: composer:latest
  only:
    changes:
      - Front/composer.json
  script:
    - cd Front
    - composer install --no-dev --no-interaction --no-scripts --optimize-autoloader
  artifacts:
    paths:
      - Front/vendor

Front - deploy:
  stage: deploy
  image: php:7.4
  only:
    changes:
      - Front/**/*
  except:
    changes:
      - Front/composer.json
  script:
    - apt-get update -yqq
    - apt-get install git zip unzip curl wget openssh-client -yqq
    - wget --quiet https://github.com/banago/PHPloy/archive/master.zip
    - unzip -qq master.zip
    - mv ./PHPloy-master/dist/phploy.phar phploy
    - php phploy -s client

Front - deploy with vendor:
  stage: deploy
  image: php:7.4
  script:
    - apt-get update -yqq
    - apt-get install git zip unzip curl wget openssh-client -yqq
    - wget --quiet https://github.com/banago/PHPloy/archive/master.zip
    - unzip -qq master.zip
    - mv ./PHPloy-master/dist/phploy.phar phploy
    - php phploy -s client-with-vendor

remove preloader if user is admin
  Front/templates/base.html.twig
Due: Front - deploy

denied acces for every crud route
  Front/config/packages/security.yaml
Due: Front - deploy

create public controller for carousel
  Front/src/Controller/CarouselController.php
  Front/src/Controller/CategoryController.php
  Front/src/Controller/CrudCarouselController.php
Due: Front - deploy

new module
  Front/public/css/color/color1.css
  Front/public/css/color/color10.css
  Front/public/css/color/color11.css
  Front/public/css/color/color12.css
  Front/public/css/color/color2.css
  Front/public/css/color/color3.css
  Front/public/css/color/color4.css
  Front/public/css/color/color5.css
  Front/public/css/color/color6.css
  Front/public/css/color/color7.css
  Front/public/css/color/color8.css
  Front/public/css/color/color9.css
  Front/public/css/style.css
  Front/public/js/colors.js
  Front/templates/base.html.twig
Due: Front - deploy

new header and carousel
  Front/migrations/Version20211128154228.php
  Front/public/uploads/imagecarou-61a3642edd05c.jpg
  Front/src/Entity/Carousel.php
  Front/src/Form/CarouselType.php
  Front/templates/home/carousel.html.twig
  Front/templates/inc/allCategory.html.twig
  Front/templates/inc/header.html.twig
  Front/templates/inc/oldHeadFoot.html.twig
Due: Front - deploy

add cdn
  Front/templates/base.html.twig
Due: Front - deploy

created at product
  Front/migrations/Version20211128154228.php
  Front/migrations/Version20211201200459.php
  Front/migrations/Version20211201201338.php
  Front/src/Entity/Product.php
Due: Front - deploy

add missing repo
  Front/src/Entity/Orders.php
  Front/src/Repository/OrdersRepository.php
Due: Front - deploy

modif crud for product add created at
  Front/src/Form/ProductType.php
  Front/templates/crud_product/index.html.twig
Due: Front - deploy

clear
  Front/src/Controller/CarouselController.php
  Front/src/Controller/CategoryController.php
  Front/templates/inc/mainMenu.html.twig
  Front/templates/product/index.html.twig
  Front/templates/product/productByCategory.html.twig
  Front/templates/product/productByDefault.html.twig
Due: Front - deploy

add stock to product
  Front/migrations/Version20211201210024.php
  Front/src/Entity/Product.php
  Front/src/Form/ProductType.php
  Front/templates/crud_product/index.html.twig
Due: Front - deploy

description + teaser carousel
  Front/templates/crud_carousel/index.html.twig
Due: Front - deploy

start product view
  Front/src/Controller/ProductController.php
  Front/templates/product/modal.html.twig
  Front/templates/product/productByCategory.html.twig
  Front/templates/product/productByDefault.html.twig
  Front/templates/product/show.html.twig
Due: Front - deploy

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Delete phploy.ini
  phploy.ini
Due: none

Update NimesaleriesClean.sql
  NimesaleriesClean.sql
Due: none

meta tag
  Front/templates/base.html.twig
Due: Front - deploy

favicon
  Front/public/images/favicon.png
  Front/templates/base.html.twig
Due: Front - deploy

new views of product - close #10
  Front/composer.json
  Front/composer.lock
  Front/config/bundles.php
  Front/src/Controller/ProductController.php
  Front/src/Repository/CategoryRepository.php
  Front/symfony.lock
  Front/templates/product/index.html.twig
  Front/templates/product/productByCategory.html.twig
  Front/templates/product/productByDefault.html.twig
Due: Front - install deps

fix footer
  Front/templates/inc/footer.html.twig
Due: Front - deploy

Perso Crud product
  Front/src/Controller/CrudProductController.php
  Front/src/Form/ProductType.php
  Front/templates/crud_product/_delete_form.html.twig
  Front/templates/crud_product/_form.html.twig
  Front/templates/crud_product/edit.html.twig
  Front/templates/crud_product/index.html.twig
  Front/templates/crud_product/show.html.twig
Due: Front - deploy

missing product crud perso
  Front/src/Form/ProductType.php
  Front/templates/crud_product/_form.html.twig
  Front/templates/crud_product/new.html.twig
Due: Front - deploy

crud perso carousel
  Front/src/Form/CarouselType.php
  Front/templates/crud_carousel/_delete_form.html.twig
  Front/templates/crud_carousel/_form.html.twig
  Front/templates/crud_carousel/edit.html.twig
  Front/templates/crud_carousel/index.html.twig
  Front/templates/crud_carousel/new.html.twig
  Front/templates/crud_carousel/show.html.twig
Due: Front - deploy

crud perso category
  Front/src/Form/CategoryType.php
  Front/templates/crud_category/_delete_form.html.twig
  Front/templates/crud_category/_form.html.twig
  Front/templates/crud_category/edit.html.twig
  Front/templates/crud_category/index.html.twig
  Front/templates/crud_category/new.html.twig
  Front/templates/crud_category/show.html.twig
Due: Front - deploy

crud perso user - close #11
  Front/src/Controller/CrudUserController.php
  Front/src/Form/UserType.php
  Front/templates/crud_user/_delete_form.html.twig
  Front/templates/crud_user/_form.html.twig
  Front/templates/crud_user/edit.html.twig
  Front/templates/crud_user/index.html.twig
  Front/templates/crud_user/new.html.twig
  Front/templates/crud_user/show.html.twig
Due: Front - deploy

test deploy heroku
  Front/Procfile
Due: Front - deploy

Delete Procfile
  Front/Procfile
Due: Front - deploy

start api with nodejs
  Api/.gitignore
  Api/README.md
  Api/app/controllers/product.js
  Api/app/routes/request.js
  Api/package-lock.json
  Api/package.json
  Api/server.js
Due: none

add route for % converted and abadoned cart
  Api/app/controllers/order.js
  Api/app/controllers/product.js
  Api/app/routes/request.js
Due: none

fix connection
  Api/app/controllers/product.js
  Api/server.js
Due: none

close #13
  Api/app/controllers/order.js
  Api/app/controllers/product.js
  Api/app/routes/request.js
Due: none

sql request now on api - close #12
  SQL/NimesaleriesClean.sql
  request.sql
Due: none

SQL/NimesaleriesClean:
  SQL/NimesaleriesClean.sql
Due: none

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Client/README: create
  Client/README.md
Due: none

Create README.md
  SQL/README.md
Due: none

Api: add cors policy
  Api/package-lock.json
  Api/package.json
  Api/server.js
Due: none

execQuery exports
  Api/app/controllers/order.js
  Api/app/controllers/product.js
  Api/server.js
Due: none
