Repository Gyomzz/NimesAleries: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Front - install deps, Front - deploy, Front - deploy with vendor

Front - install deps:
  stage: build
  image: pockost/php:7.4-apache-buster
  script:
  - cd Front
  - composer install --no-dev --no-interaction --no-scripts --optimize-autoloader
  artifacts:
    paths:
    - Front/vendor

Front - deploy:
  stage: deploy
  image: pockost/phploy:4.9.3
  script:
  - phploy -s client

Front - deploy with vendor:
  stage: deploy
  image: pockost/phploy:4.9.3
  script:
  - phploy -s client-with-vendor

add request sql
  request.sql
Due: none

start sous cat
  Front/src/Controller/CategoryController.php
  Front/src/Repository/CategoryRepository.php
  Front/templates/inc/header.html.twig
Due: Front - deploy

remove var dump
  Front/src/Controller/CategoryController.php
Due: Front - deploy

db
  NimesaleriesClean.sql
Due: none

get child category
  Front/src/Controller/CategoryController.php
  Front/src/Repository/CategoryRepository.php
  Front/templates/inc/allCategory.html.twig
  Front/templates/inc/header.html.twig
  Front/templates/inc/mainMenu.html.twig
Due: Front - deploy

change home controller
  Front/src/Controller/CategoryController.php
  Front/src/Controller/CrudCarouselController.php
  Front/src/Controller/HomeController.php
Due: Front - deploy

close #7
  Front/src/Controller/CrudCarouselController.php
Due: Front - deploy

close #8
  Front/config/packages/security.yaml
  Front/public/css/403.css
  Front/src/Security/AccessDeniedHandler.php
  Front/symfony.lock
  Front/templates/bundles/TwigBundle/Exception/error403.html.twig
Due: Front - deploy

close #9
  Front/public/css/404.css
  Front/src/Security/AccessDeniedHandler.php
  Front/templates/bundles/TwigBundle/Exception/error404.html.twig
Due: Front - deploy

test 1
  .gitlab-ci.yml
Due: none

test 2
  Front/composer.json
  Front/composer.lock
  Front/symfony.lock
  Front/templates/inc/footer.html.twig
Due: Front - install deps, Front - deploy, Front - deploy with vendor

php 7.4
  .gitlab-ci.yml
Due: none

remove on change
  .gitlab-ci.yml
Due: none

composer latest
  .gitlab-ci.yml
Due: none

add variab
  .gitlab-ci.yml
Due: none

latest phploy
  .gitlab-ci.yml
Due: none

test 2
  .gitlab-ci.yml
Due: none

php
  .gitlab-ci.yml
Due: none

change settings phploy
  phploy.ini
Due: none

change path
  phploy.ini
Due: none

deploy vendor
  .gitlab-ci.yml
Due: none

vendor
  .gitlab-ci.yml
Due: none

vendor build
  .gitlab-ci.yml
Due: none

add only changes and delete pass
  .gitlab-ci.yml
  phploy.ini
Due: none

timeout
  .gitlab-ci.yml
Due: none

vendor test 2
  .gitlab-ci.yml
Due: none

vendor 3
  .gitlab-ci.yml
Due: none

vendor 4
  .gitlab-ci.yml
  Front/composer.json
  Front/composer.lock
Due: Front - install deps, Front - deploy, Front - deploy with vendor

debug bundles
  Front/composer.json
  Front/composer.lock
Due: Front - install deps, Front - deploy, Front - deploy with vendor

maker bundle
  Front/composer.json
  Front/composer.lock
Due: Front - install deps, Front - deploy, Front - deploy with vendor

vendor dernier test
  .gitlab-ci.yml
Due: none

test github action
  .github/github-actions-demo.yml
Due: none

test
  .github/github-actions-demo.yml
Due: none

create demo
  .github/workflows/deno.yml
Due: none

remove github actions
  .github/github-actions-demo.yml
  .github/workflows/deno.yml
Due: none

title and fix repo
  Front/src/Controller/CategoryController.php
  Front/src/Controller/ContactController.php
  Front/src/Controller/CrudCarouselController.php
  Front/src/Controller/CrudCategoryController.php
  Front/src/Controller/CrudProductController.php
  Front/src/Controller/CrudUserController.php
  Front/src/Controller/HomeController.php
  Front/src/Controller/RegistrationController.php
  Front/src/Controller/ResetPasswordController.php
  Front/src/Controller/SecurityController.php
  Front/templates/contact/index.html.twig
  Front/templates/crud_carousel/index.html.twig
  Front/templates/crud_category/index.html.twig
  Front/templates/crud_product/index.html.twig
  Front/templates/crud_user/index.html.twig
  Front/templates/inc/header.html.twig
  Front/templates/registration/register.html.twig
  Front/templates/reset_password/check_email.html.twig
  Front/templates/reset_password/request.html.twig
  Front/templates/security/login.html.twig
Due: Front - deploy

footer copyright
  Front/templates/inc/footer.html.twig
Due: Front - deploy

Path conditions:
  Front - install deps: any of: Front/composer.json
  Front - deploy: (any of: Front/**/*) and (not (any of: api/composer.json))
  Front - deploy with vendor: any of: Front/composer.json
